:root {
    --color-1 : #06141b;
    --color-2 : #11212d;
    --color-3 : #253745;
    --color-4 : #4a5c6a;
    --color-5 : #9ba8ab;
    --color-6 : #CCD0CF;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-1);
    margin: 0;
    width: 100vw;
    height: 100vh;
}